<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- day12 -->
    <div id="app">
        <!-- <button @click="isA = !isA">toggle</button>
        <span v-if="isA">A</span>
        <span v-if="isA">output</span> -->

        <!-- -折一- -->
        <button @click="isA = !isA">toggle</button>
        <template v-if="isA">
            <span>output</span>
            <span>A</span>
        </template>
        <!-- toggle 按鈕: 按下按鈕反轉 isA 的值，使 v-if 的判斷符合/不符合。 -->
        <!-- v-if : 用 isA 的值決定是否要顯示 A 字元。 -->
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                isA: true
            }
        });
    </script>
</body>

</html>