<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js">
    <script src="https://kit.fontawesome.com/83fb5d23dd.js" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
    <link rel="stylesheet" href="customized.css">

</head>

<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- ----------- -->
    <div class="container" style="margin: 20px 0 ;">
        <div class="row"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group" style="margin-top:45px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Product</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing input"
                        aria-describedby="inputGroup-sizing-default" id="PriceTextbox" v-model="ProPrice">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#productModal"
                            type="button" id="button-add" style="border: 1px solid #ced4da"><i
                                class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group" style="margin-top:45px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Price</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing input"
                        aria-describedby="inputGroup-sizing-default" id="PriceTextbox" v-model="ProPrice">
                    <label class="input-group-text input-group-text-right" for="PublisherTextbox">$ TWD</label>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group" style="margin-top:45px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Product</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing input"
                        aria-describedby="inputGroup-sizing-default" id="PriceTextbox" v-model="ProPrice">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-add"
                            style="border: 1px solid #ced4da"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group" style="margin-top:45px">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Price</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing input"
                        aria-describedby="inputGroup-sizing-default" id="PriceTextbox" v-model="ProPrice">
                    <label class="input-group-text input-group-text-right" for="PublisherTextbox">$ TWD</label>
                </div>
            </div>
        </div>
    </div>

    <!-- product Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Addition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input_title">
                        <input class="title" type="checkbox" @click='sizecheckAll()' v-model='issizeCheckAll'>
                        <h3 class="submittitle">Size</h3>
                    </div>
                    <form v-for="size in sizedata" class="form_context" action="">                 
                        <div class="submitcontext">
                            <input type="checkbox" v-bind:value="size" v-model="sizemodel" @change='updatesizeCheckall()'>
                            {{size}}
                        </div>
                    </form><br>
                    <div class="input_title">
                            <input class="title" type="checkbox" @click='icecheckAll()' v-model="isiceCheckAll">
                            <h3 class="submittitle">Ice</h3>
                        </div>
                    <form v-for="ice in icedata" class="form_context" action="">                       
                        <div class="submitcontext">
                            <input type="checkbox" v-bind:value="ice" v-model="icemodel" @change='updateiceCheckall()'>
                            {{ice}}
                        </div>
                    </form><br>
                        <div class="input_title">
                            <input class="title" type="checkbox" @click='sugercheckAll()' v-model="issugerCheckAll">
                            <h3 class="submittitle">Sugar</h3>
                        </div>
                    <form v-for="suger in sugerdata" class="form_context" action="">
                    
                        <div class="submitcontext">
                            <input type="checkbox" v-bind:value="suger" v-model="sugermodel" @change='updatesugerCheckall()'>
                            {{suger}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ----- -->
    <script src="customized.js">
        
    </script>
    
</body>

</html>
