*{
    margin: 0;
    padding: 0;
    list-style: 0;
    /* background-color: #f9be02; */
}
/* 改全部的 */
.smalltitle{
    font-size: 50px;        
    font-weight: 300;
    margin-bottom: 30px;
}
.block{
    padding: 60px 0;
}
.smallword{
    font-size: 25px;        
}
.texttitle{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.icon_name{
    font-size: 25px;
}
/* 導覽列 */
.navbar{
    background-color: #f5b625;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 100;
}
.navbar-brand{
    /* margin-left: 30px; */
    font-size: 30px;
    font-weight: bold;
}
.title{
    font-size: 50px;        
    text-align: center;
    font-weight: 300;
}
.explan{
    margin: 30px 0 70px 0;
    font-size: 1.5rem;
    padding: 0 60px;
}
.addtoteams{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: #171717;
    color: white;
}
.addtoteams:hover{
    background-color: #ffb404;
    color: #171717;
}
.img-l{
    order: -1;
}
.featurestitle{
    font-size: 20px;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
}
.featurestitle::after{
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #171717;
    left: 10%;
}
.mation{
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.icon img{
    width: 50%;
}
.icon_context{
    margin-bottom: 50px;
}
@media screen and (min-width: 992PX){
    /* 改全部 */
    .smallword{
        font-size: 1.875rem;
    }
    .navbar-brand{
        margin-left: 70px;
    }
    .title{
        font-size: 5rem;
    }
    .explan{
        font-size: 1.875rem;
    }
    .textpic{
        display: flex;
    }
    .featurestitle{
        font-size: 25px;
    }
    .icon_name{
        font-size: 30px;
    }
    .icon img{
        width: 60%;
    }
    .icon_context{
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 1024PX){

}